.Rproj.user
.Rhistory
.RData
.Ruserdata
.png
.pdf
.jpeg
.jpg
*counts.txt
*TPM.txt
*FPKM.txt
*FPKM_UQ.txt
sheet.tsv

# ------------------------------------
# 操作系统/IDE 忽略项
# ------------------------------------
.DS_Store       # macOS 自动生成的文件夹设置文件
Thumbs.db       # Windows 缩略图缓存
desktop.ini     # Windows 桌面配置文件
*.tmp           # 临时文件

# ------------------------------------
# R / RStudio 忽略项
# ------------------------------------
.Rhistory       # R 历史命令记录
.RData          # R 环境数据（通常不提交）
.Ruserdata
.Rprofile
*.Rproj         # RStudio 项目文件（通常在项目级 .gitignore 中忽略）

# ------------------------------------
# 文本编辑器备份文件
# ------------------------------------
*~              # Emacs/Vim 备份文件
*.swp           # Vim 交换文件